.rich-text {
    p {
        font-size: @font-size-base + 1px;

        img + br {
            display: none;
        }

    }

    img.full-width {
        max-width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }

    img.left{
        max-width: 45%;
        margin-right: 15px;
        float: left;
    }

    img.right{
        max-width: 45%;
        margin-left: 15px;
        float: right;
    }

    img.thumbnail {
        display: inline;
        padding: 0;
        margin: 5px;
        border: none;
        border-radius: 0px;
    }

    img {
        margin-bottom: 5px;
    }

    h2, h3, h4, h5 {
        margin-top: 20px;

        &:before {
            content: '';
            display: block;
            clear: both;
        }
    }

    ul, ol {
        overflow: hidden;
        margin-bottom: 5px;
    }
}
