/* Overrides Bootstrap variables */
@import '~bootstrap/less/variables.less';

// @font-family-sans-serif: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
// @font-family-serif: 'TypoPRO Yanone Kaffeesatz', sans-serif;
// @headings-font-family: 'TypoPRO Yanone Kaffeesatz', sans-serif;
// @headings-font-weight: 200;
// @headings-color: #000;
// @brand-primary: #000;

// @font-size-base: 16px;
// @font-size-h1: 70px;
// @font-size-h2: 54px;
// @font-size-h3: 36px;
// @font-size-h4: 30px;
// @font-size-h5: 24px;
// @font-size-h6: 20px;
//
// @border-radius-base: 0;
// @border-radius-large: 0;
// @border-radius-small: 0;
//
// @table-border-color: #e2e2e2;
// @table-bg-accent: #f6f6f6;
// @table-font-family: Arial,Helvetica,sans-serif;


/* Define custom variables */
// @color-main: #C3A053;
// @color-main-dim: lighten(@color-main, 5%);
// @color-dark: #262626;
// @color-grey: #939393;
// @color-dark-grey: #383838;
// @color-white: #fff;
//
// @base-size: 16px;
//
// @site-top: 50px;

/* Bootstrap buttons */
// @btn-primary-color: #fff;
// @btn-primary-bg: #000;
// @btn-primary-border: #000;


// #C3A053

// color: #4f4f4f; #737373

/**
 * Mobile Layout: 320px
 */
@mobile: ~"only screen and (max-width: 767px)";

/**
 * Wide Mobile Layout: 480px;
 */
@wide-mobile: ~"only screen and (min-width: 480px) and (max-width: 767px)";

/**
 * Tablet Layout: 768px
 */
@tablet: ~"only screen and (min-width: 768px) and (max-width: 991px)";

/**
 * Wide Table Layout: 992px
 */
@wide-tablet: ~"only screen and (min-width: 992px) and (max-width: 1024px)";

/**
 * Standard resolution
 */
@standard: ~"only screen and (min-width: 1025px) and (max-width: 1439px)";

/**
 * Wide desktop
 */
@wide: ~"only screen and (min-width: 1440px) and (max-width:1920px)";


/**
 * HiDPI Screens/Dual Screens
 */
@hidpi: ~"only screen and (min-width:1921px)";
