{{ '{%' }} extends '{{ cookiecutter.pypackage }}/layouts/1-column.html' {{ '%}' }}
{% raw %}
{% set bundle = 'gallery' %}
{% set body_class = 'gallery-page' %}

{% block content %}
<div class="container album-page-container">
    <h2 class="page-title" v-animate="slideInRight">{{ page.title }}</h2>
    {% if page.intro %}
    <div class="row intro" v-animate="slideInLeft">
        <div class="col-xs-12">{{ page.intro|richtext }}</div>
    </div>
    {% endif %}
    <div class="row" v-masonry
        v-gallery gallery-animation="{{page.animation}}In" {% if page.show_details %}gallery-details{% endif %}>
        <div class="masonry-sizer col-xs-6 col-sm-4 col-md-3"></div>
        {% for img in images %}
        {% set img = img.image or img %}
        <div class="masonry-item gallery-item col-xs-6 col-sm-4 col-md-3 text-center">
            <a href="{{image(img, 'original').url}}"
                {% if page.show_details -%}
                title="{{ img.title }}"
                {% if img.details %}data-details="{{ img.details }}"{% endif %}
                {%- endif %}>
                {{ image(img, 'width-500', alt=img.title, class='img-responsive') }}
                <div class="overlay">
                    <div class="overlay-wrapper">
                        {% if page.show_details %}
                        <h3>{{ img.title }}</h3>
                        {% if img.details %}<p>{{ img.details }}<P>{% endif %}
                        {% else %}
                        <p><span class="fa fa-4x fa-search-plus"></span></p>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% endraw %}
