{{ '{%' }} extends '{{ cookiecutter.pypackage }}/layouts/1-column.html' {{ '%}' }}
{% raw %}
{% set bundle = 'gallery' %}
{% set body_class = 'gallery-page' %}

{% block content %}
<div class="container gallary-page-container margin-bottom-50">
    <h2 class="page-title" v-animate="slideInRight">{{ page.title }}</h2>
    {% if page.intro %}
    <div class="row intro" v-animate="slideInLeft">
        <div class="col-xs-12">{{ page.intro|richtext }}</div>
    </div>
    {% endif %}
    <div class="pagelist row equal-height margin-top-20">
        {% for album in albums %}
        <div class="col-xs-12 col-sm-6 col-md-4 pagelist-item"
            v-animate="{{ loop.cycle('slideInLeft', 'slideInUp', 'slideInRight', 'slideInDown') }}">
            <a href="{{ pageurl(album) }}">
                <div class="page-image">
                    <div class="mask">
                        <span class="mask-text"><span class="fa fa-4x fa-search-plus"></span></span>
                    </div>
                    {{ image(album.image, 'fill-400x250', ) }}
                </div>
                <h3 class="page-title">{{ album.title }}</h3>
                {% if album.intro or album.seo_description %}
                <p>{{ album.intro or album.seo_description }}</p>
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% endraw %}
