<section class="block carousel-block">
    <carousel title="{{ carousel.title }}">
        <div slot="description">{{ carousel.description|richtext }}</div>
        {% for item in carousel.images %}
        {{ image(item.image, 'fill-2560x1080') }}
        {% endfor %}
    </carousel>
</section>
