<section class="block gallery-block container">
    <div class="row"
        v-gallery gallery-animation="slideIn" {% if gallery.show_details %}gallery-details{% endif %}>
        {% for photo in gallery.images %}
        <div class="col-xs-12 col-sm-6 gallery-item" v-animate="{{ loop.cycle('slideInLeft', 'slideInRight') }}">
            <a href="{{image(photo, 'original').url}}"
                {% if gallery.show_details -%}
                title="{{ photo.title }}"
                {% if photo.details %}data-details="{{ photo.details }}"{% endif %}
                {%- endif %}>
                {{ image(photo, 'fill-450x193', width=None, height=None) }}
                <div class="overlay">
                    <div class="overlay-wrapper text-center">
                        {% if gallery.show_details %}
                        <h3>{{ photo.title }}</h3>
                        {% if photo.details %}<p>{{ photo.details }}<P>{% endif %}
                        {% else %}
                        <p><span class="fa fa-4x fa-search-plus"></span></p>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
