{% if pages %}
<div class="block pagelist-block container">
    <div class="pagelist row equal-height">
        {% for page in pages %}
        <div class="col-xs-12 col-sm-6 col-md-4 pagelist-item"  v-animate="slideInLeft">
            <a href="{{ page.url }}">
                <div class="page-image">
                    <div class="mask">
                        <span class="mask-text">{{ _('Read more') }}</span>
                    </div>
                    {{ image(page.image, 'fill-400x250', ) }}
                </div>
                <h3 class="page-title">{{ page.title }}</h3>
                {% if page.intro or page.seo_description %}
                <p>{{ page.intro or page.seo_description }}</p>
                {% else %}
                <p>{{ page.body|richtext|striptags|truncate(150) }}</p>
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
