.rich-text {
    // li {
    //     background: url($bg-path + 'bullet.png') no-repeat 0 2px;
    //     padding-left: 24px; /* the width of your image + some space */
    //     margin: 3px 0;
    // }
    //
    // @media (min-width: 768px) {
    //     li {
    //         background: url($bg-path + 'bullet.png') no-repeat 0 5px;
    //     }
    // }

    a {
        font-size: inherit;
        line-height: 1.4;
        color: $brand-warning;
        box-shadow: 0 1px $brand-warning;
    }

    img.full-width {
        max-width: 100%;
        margin: auto;
    }

    img.left{
        max-width: 45%;
        margin-right: 5%;
        float: left;
    }

    img.right{
        max-width: 45%;
        margin-left: 5%;
        float: right;
    }

    img.thumbnail {
        display: inline;
        padding: 0;
        margin: 5px;
        border: none;
        border-radius: 0px;
    }

    .responsive-object {
        position: relative;
        margin-bottom: 5px;

        iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.richtext-block {
    margin-top: 20px;
    margin-bottom: 20px;
}
