{% if current_page.has_previous() %}
<a class="pager more" v-animate="slideInLeft"
    href="?page={{ page.previous_page_number() }}{% if querystring %}&{{ querystring }}{% endif %}">
    <i class="fa fa-arrow-left"></i>
    {{ previous_label or _('Previous page') }}
</a>
{% endif %}

{% if current_page.has_next() %}
<a class="pager more" v-animate="slideInLeft"
    href="?page={{ page.next_page_number() }}{% if querystring %}&{{ querystring }}{% endif %}">
    <i class="fa fa-arrow-right"></i>
    {{ next_label or _('Next page') }}
</a>
{% endif %}
