@import "_bootstrap-variables";

// root path
$root-path: '../';

// Fonts
$fa-font-path: "~font-awesome/fonts";

// Images
$img-path: $root-path + 'images/';

// Sprites
@mixin bg-image($image) {
  background-image: url(#{$img-path}#{$image});
}
