<template>
<div class="carousel-container">
    <div class="carousel slide" v-animate="slideInRight">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li v-for="(index, image) in images"
                :class="{active: current === index}"
                @click="slideTo(index)">
            </li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div v-for="(index, image) in images"
                class="item" :class="{active: current === index}"
                v-show="index === current || index === entering"
                transition="hslide" :data-idx="index">
                <img :src="image.src" :alt="image.alt" />
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" @click="previous" role="button">
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" @click="next" role="button">
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
</template>
<script>
import Velocity from 'velocity-animate';

export default {
    data() {
        return {
            current: 0,
            entering: null,
            direction: 'right',
        };
    },
    props: {
        title: String,
        duration: {
            type: String,
            default: 3,
        }
    },
    computed: {
        images() {
            return this._slotContents.default.children;
        }
    },
    ready() {
        setInterval(this.next, this.duration * 1000);
    },
    methods: {
        next() {
            this.direction = 'right';
            this.entering = this.current + 1;
            if (this.entering >= this.images.length) {
                this.entering = 0;
            }
        },
        previous() {
            this.direction = 'left';
            this.entering = this.current - 1;
            if (this.entering < 0) {
                this.entering = this.images.length - 1;
            }
        },
        slideTo(index) {

        }
    },
    transitions: {
        hslide: {
            enter(el, done) {
                const translateX = this.direction === 'right' ?
                    ['0%', '-100%'] :
                    ['0%', '100%'] ;
                Velocity(el, { translateX })
                .then(([el]) => {
                    this.current = parseInt(el.dataset.idx);
                    if (this.entering === this.current) {
                        this.entering = null;
                    }
                    done()
                });
            },
        }
    }
};
</script>
<style lang="{{ cookiecutter.style }}">
@import '../../{{ cookiecutter.style }}/variables';

.carousel-container {}
</style>
