<template>
<div class="scrollbar-container" v-show="visible" @click="jump" :class="[orientation]">
    <div class="scrollbar" v-el:scrollbar
        :class="{'scrollbox-transition': dragging || $parent.dragging}"
        :style="style"
        @touchstart="startDrag"
        @mousedown="startDrag"
        >
    </div>
</div>
</template>

<script>
export default {
    props: {
        orientation: {
            type: String,
            default: 'vertical'
        },
        maxSize: {
            type: Number,
            default: 0
        },
        contentSize: {
            type: Number,
            default: 0
        },
        scrolling: {
            type: Number,
            default: 0
        },
        onChangePosition: {
            type: Function,
            default: () => {}
        },
    },

    data() {
        return {
            dragging: false,
            start: 0
        };
    },

    computed: {
        size() {
            return this.maxSize / this.contentSize * 100;
        },
        style() {
            return this.orientation == 'vertical'
                ? { height: `${this.size}%`, top: `${this.scrolling}%` }
                : { width: `${this.size}%`, left: `${this.scrolling}%` };
        },
        visible() {
            return this.size < 100;
        }
    },

    methods: {
        startDrag(e) {
            e.preventDefault();
            e.stopPropagation();

            e = e.changedTouches ? e.changedTouches[0] : e;

            // Prepare to drag
            this.dragging = true;
            this.start = this.orientation === 'vertical' ? e.pageY : e.pageX;
            this.startListening();
        },

        onDrag(e) {
            if (this.dragging) {
                e.preventDefault();
                e.stopPropagation();

                e = e.changedTouches ? e.changedTouches[0] : e;

                const movement = this.orientation === 'vertical'
                    ? e.pageY - this.start
                    : e.pageX - this.start;
                const percentage = movement / this.maxSize * 100;

                // Update the last e.pageY
                this.start = this.orientation === 'vertical' ? e.pageY : e.pageX;

                // The next Vertical Value will be
                const next = this.scrolling + percentage;

                this.normalize(next);

                // DO THIS WAY IS NOT SAFE FOR WORK!
                // But it needed to make it simple~
                this.$parent.dragging = true;

                this.onChangePosition(next, this.orientation);
            }
        },

        stopDrag(e) {
            this.dragging = false;
            this.$parent.dragging = false;
            this.stopListening();
        },

        jump(e) {
            if (e.target === this.$el) {
                // Get the Element Position
                const position = this.$els.scrollbar.getBoundingClientRect();

                // Calculate the vertical Movement
                const half = (this.size / 2);
                const movement = this.orientation === 'vertical'
                    ? e.pageY - position.top
                    : e.pageX - position.left;
                const percentage = movement / this.maxSize * 100 - half;

                // Update the last e.pageY
                this.start = this.orientation === 'vertical' ? e.pageY : e.pageX;

                // The next Vertical Value will be
                const next = this.scrolling + percentage;

                this.normalize(next);
                this.onChangePosition(next, this.orientation);
            }
        },

        normalize(next) {
            // Check For the Max Position
            const lowerEnd = 100 - this.size;
            if (next < 0) next = 0;
            if (next > lowerEnd) next = lowerEnd;
            this.scrolling = next;
        },

        /**
         * Attach listeners to the document for actions that can occur outside
         */
        startListening() {
            // Put the Listener
            document.addEventListener("mousemove", this.onDrag);
            document.addEventListener("touchmove", this.onDrag);
            document.addEventListener("mouseup", this.stopDrag);
            document.addEventListener("touchend", this.stopDrag);
        },

        stopListening() {
            // Remove the Listener
            document.removeEventListener("mousemove", this.onDrag);
            document.removeEventListener("touchmove", this.onDrag);
            document.removeEventListener("mouseup", this.stopDrag);
            document.removeEventListener("touchend", this.stopDrag);
        }
    },

    beforeDestroy() {
        // Remove the Listener
        this.stopListening();
    }

};
</script>
