<template>
<div class="scrollbox" @wheel.stop.prevent="scroll" tabindex="-1">
    <div class="scrollbox-content" v-el:content
        @touchstart="startDrag"
        @touchmove="onDrag"
        @touchend="stopDrag"
        :class="(dragging ? '' : 'scrollbox-transition')"
        :style="{ 'margin-top': top * -1 +'px', 'margin-left': left * -1 +'px' }"
    >
        <slot></slot>

        <scrollbar v-ref:vscrollbar
            :max-size="height" :content-size="contentHeight"
            :scrolling="vMovement"
            v-bind:on-change-position="handleChangePosition"
        ></scrollbar>

        <scrollbar orientation="horizontal" v-ref:hscrollbar
            :max-size="width" :content-size="contentWidth"
            :scrolling="hMovement"
            v-bind:on-change-position="handleChangePosition"
            >
        </scrollbar>
    </div>
</div>
</template>

<script>
import Scrollbar from './scrollbar.vue';

export default {
    props: {
        speed: {
            type: Number,
            default: 53
        }
    },

    data() {
        return {
            top: 0,
            left: 0,
            height: null,
            width: null,
            contentHeight: null,
            contentWidth: null,
            vMovement: 0,
            hMovement: 0,
            dragging: false,
            start: { y: 0, x: 0}
        };
    },

    components: { Scrollbar },

    methods: {
        scroll(e) {
            // Set the wheel step
            const num = this.speed;

            // DOM events
            const scrollY = e.deltaY > 0 ? num : -(num);
            const scrollX = e.deltaX > 0 ? num : -(num);

            // Next Value
            const nextY = this.top + scrollY;
            const nextX = this.left + scrollX;

            if (this.$refs.hscrollbar.visible) this.normalizeHorizontal(nextX);
            if (this.$refs.vscrollbar.visible) this.normalizeVertical(nextY);
            this.moveScrollbar();
        },

        // DRAG EVENT JUST FOR TOUCH DEVICE~
        startDrag(e) {
            e = e.changedTouches ? e.changedTouches[0] : e;

            // Prepare to drag
            this.dragging = true;
            this.start.y = e.pageY;
            this.start.x = e.pageX;
        },

        onDrag(e) {
            if (this.dragging) {
                e.preventDefault();
                e = e.changedTouches ? e.changedTouches[0] : e;

                // Invers the Movement
                const yMovement = this.start.y - e.pageY;
                const xMovement = this.start.x - e.pageX;

                // Update the last e.page
                this.start.y = e.pageY;
                this.start.x = e.pageX;

                // The next Vertical Value will be
                const nextY = this.top + yMovement;
                const nextX = this.left + xMovement;

                this.normalizeVertical(nextY);
                this.normalizeHorizontal(nextX);

                this.moveScrollbar();
            }
        },

        stopDrag(e) {
            e = e.changedTouches ? e.changedTouches[0] : e;
            if (e.pageY !== this.start.y || e.pageX !== this.start.x) {
                // Prevent ghost click
                e.preventDefault();
                e.stopPropagation();
            }
            this.dragging = false;
        },

        normalizeVertical(nextY) {
            // Vertical Scrolling
            const lowerEnd = this.contentHeight - this.height;

            // Max Scroll Down
            if (nextY > lowerEnd) nextY = lowerEnd;

            // Max Scroll Up
            else if (nextY < 0) nextY = 0;

            // Update the Vertical Value
            this.top = nextY;
        },

        normalizeHorizontal(next) {
            // Horizontal Scrolling
            const rightEnd = this.contentWidth - this.width;

            // Max Scroll Right
            if (next > rightEnd) next = rightEnd;

            // Max Scroll Right
            else if (next < 0) next = 0;

            // Update the Horizontal Value
            this.left = next;
        },

        moveScrollbar() {
            this.vMovement = this.top / this.contentHeight * 100;
            this.hMovement = this.left / this.contentWidth * 100;
        },

        handleChangePosition(vScrollbar, orientation) {
            // Convert Percentage to Pixel
            const next = vScrollbar / 100 * this.contentHeight
            if ( orientation == 'vertical' ) this.normalizeVertical(next)
            if ( orientation == 'horizontal' ) this.normalizeHorizontal(next)
        },

        update() {
            // Computed Style
            const style = window.getComputedStyle(this.$el);
            const contentStyle = window.getComputedStyle(this.$els.content);

            // Scrollbox Height and Width
            this.height = parseFloat(style.height);
            this.width = parseFloat(style.width);

            // Scroll Area Height and Width
            this.contentHeight = parseFloat(contentStyle.height);
            this.contentWidth = parseFloat(contentStyle.width);
        }
    },

    ready() {
        this.update();
        // Attach The Event for Responsive View~
        window.addEventListener('resize', this.update);
    },

    beforeDestroy() {
        // Remove Event
        window.removeEventListener('resize', this.update);
    }
};
</script>

<style lang="{{ cookiecutter.style }}">
.scrollbox-transition {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

    // &--scrollbar
    // &--scrollbar {
        transition: opacity 0.5s linear;
        -moz-transition: opacity 0.5s linear;
        -webkit-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
    // }
}

.scrollbox {
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    &:hover {
        .scrollbar-container {
            opacity: 1
        }
    }


    .scrollbar-container {
        .scrollbox-transition();
        // @extend .scrollbox-transition
        opacity: 0.5;
        position: absolute;
        // background: transparent;
        background: rgba(255,255,255,0.3);
        // &:hover {
        //     background: rgba(255,255,255,0.3);
        // }

        .scrollbar {
            position: relative;
            background: rgba(255,255,255,0.5);
            cursor: default;
        }

        &.vertical {
            width: 10px;
            height: 100%;
            top: 0;
            right: 0;

            .scrollbar {
                width: 10px;
            }
        }

        &.horizontal {
            height: 10px;
            width: 100%;
            bottom: 0;
            right: 0;

            .scrollbar {
                height: 10px;
            }
        }
    }

}
</style>
