{% raw %}
{% if blog and blog.get_queryset()|length %}
<section class="blog-section margin-top-20" v-animate="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <post-carousel title="{{ blog.title }}">
                    {% for post in blog.posts_with_image[:3] %}
                    <post-carousel-item title="{{ post.title }}"
                                        summary="{{ post.summarize() }}"
                                        url="{{ post.full_url }}">
                        {{ image(post.image, 'fill-713x400', class='img-responsive') }}
                    </post-carousel-item>
                    {% endfor %}
                </post-carousel>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endraw %}
