{{ '{%' }} extends '{{ cookiecutter.pypackage }}/layouts/2-columns.html' {{ '%}' }}
{% raw %}
{% set bundle = 'blog' %}

{% block content %}
<article id="post-{{ page.id }}" class="post">
    <div class="padding-bottom-30 row" v-animate="fadeInUp">
        <div class="blogclassic-title col-xs-12">
            <h3 class="post-title">
                <a href="{{ pageurl(page) }}" rel="bookmark">{{ page.title }}</a>
            </h3>
            <div class="post-meta">
                <span>
                    <a href="{{ pageurl(page) }}" rel="bookmark">{{ page.date|date }}</a>
                    <span class="separator">|</span>
                    {{ _('Author') }}:
                    <a class="url fn n" href="{{ routablepageurl(page.blog, 'by_author', author=page.owner) }}?">{{ page.owner }}</a>
                    <span class="separator">|</span>
                    {{ _('No Comments') }}
                </span>
            </div>
        </div>
        <div class="col-xs-12">
            {{ image(page.image, 'fill-960x540', class='img-responsive') }}
        </div>
        <div class="col-xs-12">
            <div class="blogclassic">
                {{ page.body|richtext }}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</article>
{% endblock %}

{% block sidebar %}{% include 'blog/sidebar.html' %}{% endblock %}
{% endraw %}
