{{ '{%' }} extends '{{ cookiecutter.pypackage }}/layouts/2-columns.html' {{ '%}' }}
{% raw %}
{% set bundle = 'blog' %}

{% block content %}
{% for post in posts.object_list %}
<article id="post-{{post.id}}" class="post margin-bottom-20">
    <div class="row" v-animate="fadeInUp">
        <div class="blog-title col-xs-12">
            <h3 class="post-title">
                <a href="{{ pageurl(post) }}" rel="bookmark">{{ post.title }}</a>
            </h3>
            <div class="post-meta">
                <span>
                    <a href="{{ pageurl(post) }}" rel="bookmark">{{ post.date|date }}</a>
                    <span class="separator">|</span>
                    {{ _('Author') }}:
                    <a class="url fn n" href="{{ routablepageurl(page, 'by_author', author=post.owner) }}?">{{ post.owner }}</a>
                    <span class="separator">|</span>
                    {{ _('No Comments') }}
                </span>
            </div>
        </div>
        <div class="col-xs-12">
            {{ image(post.image, 'fill-960x540', class='img-responsive') }}
        </div>
        <div class="col-xs-12">
            <div class="blogclassic">
                <p>{{ post.summarize()|safe }}
            </div>
            <a class="btn btn-primary btn-up" href="{{ pageurl(post) }}">{{ _('Read More') }}</a>
        </div>
        <div class="clearfix"></div>
    </div>
</article>
{% else %}
<p class="text-center lead margin-top-20">{{ _('No posts') }}</p>
{% endfor %}

{% if posts.paginator.num_pages > 1 %}
<nav aria-label="Page navigation" class="text-center">
    <ul class="pagination">
        <li {% if not posts.has_previous() %}class="disabled"{% endif %}>
            <a {% if posts.has_previous() %}
                href="{{ pageurl(page) }}?page={{ posts.previous_page_number() }}"
                {% endif %}
                aria-label="{{ _('Previous') }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for page_num in posts.paginator.page_range %}
        <li {% if page_num == posts.number %}class="active"{% endif %}>
            <a {% if not page_num == posts.number %}href="{{ pageurl(page) }}?page={{page_num}}"{% endif %}>{{ page_num }}</a>
        </li>
        {% endfor %}
        <li {% if not posts.has_next() %}class="disabled"{% endif %}>
            <a {% if posts.has_next() %}
                href="{{ pageurl(page) }}?page={{ posts.next_page_number() }}"
                {% endif %}
                aria-label="{{ _('Next') }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endif %}

{% endblock %}

{% block sidebar %}{% include 'blog/sidebar.html' %}{% endblock %}
{% endraw %}
