{% raw %}
<div class="blog-sidebar">
    <aside class="widget-area">
        <div class="rightsidebar widget widget_search" v-animate="fadeInUp">
            <div class="listbg">
                <form role="search" class="search-form" action="{{ url('wagtailsearch_search') }}">
    				<label>
    					<span class="screen-reader-text">{{ _('Search for') }}:</span>
    					<input type="search" class="search-field" placeholder="{{ _('Search') }} …"
                            value="{{ query_string|default('') }}" name="q">
    				</label>
    				<input type="submit" class="btn btn-primary btn-up" value="{{ _('Search') }}">
    			</form>
            </div>
        </div>
        {% if blog_tags %}
        <div class="rightsidebar widget widget_tag_cloud" v-animate="fadeInUp">
            <div class="listbg">
                <h4 class="widget-title">{{ _('Tags') }}</h4>
                <div class="tagcloud">
                    <div class="tag">
                        {% for tag in blog_tags %}
                        <a href="{{ routablepageurl(blog or page.blog, 'by_tag', tag=tag.slug) }}" class=" btn btn-primary"
                            title="{{ tag.name }}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if all_categories %}
        <div class="rightsidebar widget widget_categories" v-animate="fadeInUp">
            <div class="listbg">
                <h4 class="widget-title">{{ _('Categories') }}</h4>
                <ul class="list-unstyled">
                    {% for category in all_categories %}
                    <li class="cat-item listitem">
                        <a href="{{ routablepageurl(blog or page.blog, 'by_category', category=category.slug) }}">
                        {{ category.name }}
                        </a>
                    </li>
                    {% endfor %}
    		    </ul>
            </div>
        </div>
        {% endif %}
    </aside>
</div>
{% endraw %}
