{% raw %}
{% set body_class = body_class or '' %}
{% set identity_settings = settings('wapps.IdentitySettings') %}
{% set meta = page_meta(title=meta_title, description=meta_description, image=meta_image) %}
{% set bundle = bundle or 'default' %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default('en') }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="UTF-8">
	<title>{{ meta.full_title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'wapps/metadata.html' %}
    {{ blog_meta() }}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{ render_bundle('common', 'css') }}
    {% if bundle %}{{ render_bundle(bundle, 'css') }}{% endif %}
    {% block extra_head %}{% endblock %}
</head>

<body class="{{body_class}}">
    <span v-el:page-top class="page-top"></span>
    {{ wagtailuserbar() }}
    <div class="site" v-el:page-container v-scrollspy="showScrollUp" scrollspy-distance="100">
    {% endraw %}
    	{{ '{%' }} include '{{ cookiecutter.pypackage }}/header.html' {{ '%}' }}
    	{% raw %}<div class="site-content">{% block body %}{% endblock %}</div>{% endraw %}
        {{ '{%' }} include '{{ cookiecutter.pypackage }}/footer.html' {{ '%}' }}
        {% raw %}
        <a class="scrollup" v-scroll-to="$els.pageTop"
            v-show="showScrollUp" transition="fade">{{ _('Top') }}</a>
    </div>
    {{ render_bundle('common', 'js') }}
    {% if bundle %}{{ render_bundle(bundle, 'js') }}{% endif %}
    {% block extra_js %}{% endblock %}
    {% include 'includes/google_analytics.html' %}
</body>
</html>
{% endraw %}
