<div class="clearfix"></div>
<footer class="main-footer">
   <div class="container">
      {% raw %}
      <div class="row text-center">
         <ul class="col-xs-12 social list-inline" v-animate="slideInUp">
            {% set identity_settings = settings('wapps.IdentitySettings') %}
            {% for network in SOCIAL_NETWORKS %}
            {% if identity_settings[network] %}
            <li>
               <a href="{{ social_url(network, identity_settings[network]) }}">
                  <span class="fa-stack fa-lg">
                     <i class="fa fa-square-o fa-stack-2x"></i>
                     <i class="fa {{ social_icon(network) }} fa-stack-1x"></i>
                  </span>
               </a>
            </li>
            {% endif %}
            {% endfor %}
            {% if blog_feed_url() %}
            <li>
               <a href="{{ blog_feed_url() }}" title="{{ _('RSS feed') }}">
                  <span class="fa-stack fa-lg">
                     <i class="fa fa-square-o fa-stack-2x"></i>
                     <i class="fa fa-rss fa-stack-1x"></i>
                  </span>
               </a>
            </li>
            {% endif %}
         </ul>
      </div>
      {% endraw %}
      <div class="row copyright text-center">
         <p class="col-xs-12">
            &copy; 2016 {{ cookiecutter.project_name }} par
            <a href="https://apihackers.com">API Hackers</a>
         </p>
      </div>
   </div>
</footer>
