{% raw %}<a class="skip-link screen-reader-text" href="#content">{{ _('Skip to content') }}</a>
<header class="main-header">
	<nav>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo page-scroll">
						{% if is_site_root(page) %}
						<a href="#pagetop">
						{% else %}
						<a href="/">
						{% endif %}
						{% if identity_settings.logo %}
						<img src="{{ image(identity_settings.logo, 'height-50').url }}"  alt="{{ meta.site_title }}" />
						{% else %}
						{{ meta.site_title }}
						{% endif %}
						</a>
					</div>
					<div class="mm-toggle-wrap">
						<div class="mm-toggle" @click="toggleMobileMenu">
							<i class="fa fa-bars"></i>
						</div>
					</div>{% endraw %}
					{{ '{%' }} include "{{ cookiecutter.pypackage }}/menu.html" {{ '%}' }}
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</nav>
</header>
