{% raw %}
<ul class="menu">
  {% set current_page = page or {'pk': None} %}
  {% for page in menu() %}
  {% set children = page.get_children().live().in_menu().filter(depth__gt=3) %}
  <li>
    <a href="{{ pageurl(page) }}">{{ page.seo_title or page.title }}</a>
    {% if children.count() %}
    <ul>
      {% for child in children %}
      {% set sub_children = child.get_children().live().in_menu().filter(depth__gt=3) %}
      <li>
        <a href="{{ pageurl(child) }}">
          {% if sub_children.count() %}<i class="fa fa-angle-right"></i>{% endif %}
          {{ child.seo_title or child.title }}
        </a>
        {% if sub_children.count() %}
        <ul>
          {% for sub_child in sub_children %}
          <li>
            <a href="{{ pageurl(sub_child) }}">{{ sub_child.seo_title or sub_child.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endraw %}
