{{ '{%' }} extends '{{ cookiecutter.pypackage }}/layouts/1-column.html' {{ '%}' }}
{% raw %}
{% set bundle = 'staticpage' %}
{% set body_class = 'static-page' %}

{% block content %}
<div class="container static-page-container">
    <h2 class="page-title" v-animate="slideInLeft">{{ page.title }}</h2>
    {% if page.intro %}
    <div class="row intro" v-animate="slideInRight">
        <div class="col-xs-12">
            <p><strong>{{ page.intro  }}</strong></p>
        </div>
    </div>
    {% endif %}
    {% if page.image %}
    <div class="row main-image"  v-animate="slideInUp">
        <div class="col-xs-12">
            {{ image(page.image, 'fill-1200x400', width=None, height=None) }}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12" v-animate="slideInRight">
            {{ page.body|richtext }}
        </div>
    </div>
</div>
{% for widget in page.widgets %}
{% include_block(widget) %}
{% endfor %}
{% endblock %}
{% endraw %}
