{{ '{%' }} extends '{{ cookiecutter.pypackage }}/base.html' {{ '%}' }}

{% raw %}
{% block body %}
<div class="container">
    <div class="row">
        <main class="col-lg-7 col-sm-12 col-md-8">{% block content %}{% endblock %}</main>
        <aside class="col-lg-5 col-sm-12 col-md-4">{% block sidebar %}{% endblock %}</aside>
    </div>
</div>
{% endblock %}
{% endraw %}
