{{ '{%' }} extends '{{ cookiecutter.pypackage }}/layouts/1-column.html' {{ '%}' }}
{% raw %}
{% set identity_settings = settings('wapps.IdentitySettings') %}

{% block content %}
<div class="container">

    <hgroup class="mb20">
		<h1>{{ _('Search results') }}</h1>
		<h2 class="lead">
			{{ ngettext(
				'%(num)s result was found for the search for %(query)s',
				'%(num)s results were found for the search for %(query)s',
				search_results.paginator.count,
				num='<strong class="text-danger">%(n)d</strong>'|format(n=search_results.paginator.count)|safe,
				query='<strong class="text-danger">%(q)s</strong>'|format(q=query_string)|safe
			) }}
		</h2>
	</hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">
		{% for page in search_results.object_list %}
		{% set page = page.specific %}
		<article class="search-result row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-3">
				<a href="{{ pageurl(page) }}" title="{{ page.title }}" class="thumbnail">
					{% if page.image %}
					{{ image(page.image, 'fill-250x140') }}
					{% else %}
					{% set placeholder = identity_settings.name or request.site.name %}
					<img src="//placehold.it/250x140{% if placeholder %}?text={{ placeholder }}{% endif %}" alt="Placeholder" />
					{% endif %}
				</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2 metadata">
				<ul class="fa-ul">
					<li>
						<i class="fa fa-li fa-fw {{ page.type_icon|default('fa-file-o') }}"></i>
						<span>{{ page._meta.verbose_name }}</span>
					</li>
					<li>
						<i class="fa fa-li fa-fw fa-calendar"></i>
						<span>{{ page.first_published_at.date() }}</span>
					</li>
					<li>
						<i class="fa fa-li fa-fw fa-clock-o"></i>
						<span>{{ page.first_published_at.strftime('%H:%M:%S') }}</span>
					</li>
					{% if page.tags %}
					<li>
						<i class="fa fa-li fa-fw fa-tags"></i>
						{% for tag in page.tags.all() %}
						<span class="label label-default">{{ tag.name }}</span>
						{% endfor %}
					</li>
					{% endif %}
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-7 excerpt">
				<h3 class="title"><a href="{{ pageurl(page) }}" title="{{ page.title }}">{{ page.title }}</a></h3>
				{% if page.search_description %}
                    {{ page.search_description|default(page)|striptags|truncate(255) }}
                {% endif %}
			</div>
			<a href="{{ pageurl(page) }}" title="{{ page.title }}" class="btn btn-xs btn-primary btn-more">
				<i class="fa fa-plus fa-inverse"></i>
				{{ _('Read more') }}
			</a>
		</article>
		{% endfor %}

		{% if search_results.paginator.num_pages > 1 %}
		<nav aria-label="Page navigation" class="text-center">
			<ul class="pagination">
				<li {% if not search_results.has_previous() %}class="disabled"{% endif %}>
					<a {% if search_results.has_previous() %}
						href="{{ pageurl(page) }}?page={{ search_results.previous_page_number() }}"
						{% endif %}
						aria-label="{{ _('Previous') }}">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% for page_num in search_results.paginator.page_range %}
				<li {% if page_num == search_results.number %}class="active"{% endif %}>
					<a {% if not page_num == search_results.number %}href="{{ pageurl(page) }}?page={{page_num}}"{% endif %}>{{ page_num }}</a>
				</li>
				{% endfor %}
				<li {% if not search_results.has_next() %}class="disabled"{% endif %}>
					<a {% if search_results.has_next() %}
						href="{{ pageurl(page) }}?page={{ search_results.next_page_number() }}"
						{% endif %}
						aria-label="{{ _('Next') }}">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
		{% endif %}

	</section>
</div>
{% endblock %}
{% endraw %}
